nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
  margin-top: 0.3em;
}

.tweet-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
  cursor: pointer;
}

.tweet-toggle {
  margin-top: 4px;
  color: red;
}

.tweet-toggle:hover {
  animation: floating 1.5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-0.5rem);
  }
  100% {
    transform: translatey(0);
  }
}

  /* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  nav {
    background-color: orange;
	  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}