.new-tweet {
	width: 100%;
}

.hide {
	display: none;
}

.error-message {
	margin-top: 2rem;
	margin-bottom: 0;
	background-color: #DF101045;
	color: #DF1010;
	border: solid #F00 4px;
	border-radius: 5px;
	padding: 0 1em;
	font-weight: 600;
	display: none;
}

.error-text-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close-error {
	cursor: pointer;
}

.close-error:hover {
	color: #DF1010AB;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-family: 'Source Sans Pro' ,sans-serif;
	font-size: .85em;
	overflow: auto;
	margin-top: 2em;
}

label[for="tweet-text"] {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 0.65em;
}

textarea {
	outline: none;
	border: none;
	border-bottom: 3px solid #413f38;
	resize: none;
	width: 100%;
	margin-bottom: 1em;
	background-color: #f4f1ec;
	color: #3c3a34;
	padding: 0;
	font-weight: 600;
}

.new-tweet footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.tweet-submit-btn {
	background-color: #4056A1;
	color: #fff;
	font-family: "Bungee", sans-serif;
}

.counter {
	font-family: "Bungee", sans-serif;
}

.over-limit {
	color: #F00;
}

@media only screen and (min-width: 1024px) {
	.content-container {
		margin-top: 120px;
	}	
}